<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madlibs</title>
</head>
<body>
  <p>
    It was during the battle of @Model.NounOne when I was running through a @Model.NounTwo when a @Model.NounThree went off right next to my platoon. Our @Model.NounFour yelled for us to @Model.VerbOne to the nearest @Model.NounFive we could find. When we got to the @Model.NounSix we @Model.VerbTwo to start a fire. As we were starting the fire the enemy saw the @Model.NounSeven from the fire and started @Model.Adverb @Model.VerbThree  at us. We all quickly ducked behind the @Model.NounEight at the @Model.NounNine and returned fire. We quickly eliminated the enemy and were @Model.Adjective that we had won the battle.
  </p>
</body>
</html>